[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
djangorestframework = "*"
mysqlclient = "*"
django-debug-toolbar = "*"
django-taggit = "*"
sendgrid = "*"

[dev-packages]

[requires]
python_version = "3.11"
